.DialogOverlay{
  position: fixed;
  width: 100vw;
  height: 100vh;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
}

.DialogContent {
  overflow:scroll;
  scrollbar-width: none;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background-color: #202024;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 28em;
  min-width: 20em;
  max-height: 85vh;
  min-height: 42em;
  padding: 3em;
  color: white;
  
  .DialogDiscription{
    width: 100%;
  }
  img{
    display: grid;
  justify-self: center;
  padding:1em 0;
}
  .separator {
    font-size: 14px;
    color: white;
    
    margin: 32px 0;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      flex: 1;
      height: 1px;
      background: #a8a8b3;
      margin-right: 16px;
    }

    &::after {
      content: '';
      flex: 1;
      height: 1px;
      background: #a8a8b3;
      margin-left: 16px;
    }
  }

  form{
    display: grid;
    gap: 2em;

    input {
      border-radius: 6px;
      border: 0;
      background: #121214;
      color: #c4c4cc;
      padding: 1rem;
      text-align: center;
      &::placeholder {
        color: gray-500;
      }
    }
  }

}

.login {
height: 3em;
  width: 100%;
  border-radius: .4em;
  font-weight: 500;
  background: #00875F;
  color: #FFF;
 text-align: center;
  display: grid;
  align-self: self-end;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.9);
  }
}
/* reset */
button,
fieldset,
input {
  all: unset;
}

